body{

	margin:20px;
}

h1{
	
	color:white;
	background-color: black;
   text-transform: uppercase;
   padding-left: 10%;
   padding-right: 10%;  
   
}


p{
line-height:0.6cm;
word-spacing: 0.2cm;

}

h3{

   color:blue;
   
}
.img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.btn{
     background-color:yellow;
     color:black;
     text-align: center;
     padding: 10px;
     width: 100px;
     float: center;
     cursor: pointer;
  }
 .btn:hover{
 	background-color:grey ;
   color:white;
}

a:hover{
	background-color: black;
	color: white;
}
a:link{
	
	color:green;
	text-decoration:underline;
}
